<footer class="footer text-center py-3 mt-5">
  <div class="container small">
    <p class="mb-1">
      &copy; 2025 – IU Internationale Hochschule – Fallstudie <strong>IPWA01-01</strong><br>
      Autor: <strong>Patryk Płonka</strong>
    </p>
    <p class="mb-0">
      <a href="~/pages/impressum.html" class="footer-link">Impressum</a> ·
      <a href="~/pages/datenschutz.html" class="footer-link">Datenschutz</a> ·
      <a href="~/pages/agb.html" class="footer-link">AGB</a>
    </p>
  </div>
</footer>
