<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container">
      <a class="navbar-brand fw-bold d-flex align-items-center gap-2" href="./">
        <img src="assets/logo_tshirt.png" alt="Logo" class="logo-img">
        Kleiderspenden
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item"><a class="nav-link" href="index.html">Startseite</a></li>
          <li class="nav-item"><a class="nav-link" href="register.html">Formular</a></li>
          <li class="nav-item"><a class="nav-link" href="confirm.html">Bestätigung</a></li>
        </ul>
      </div>
    </div>
  </nav>
</header>
